/*font*/
body
{
    font-family: 'Raleway', sans-serif;
    
}
h1
{
    font-weight: bolder;
}

/*logo*/
#logo
{
    display:flex;
    justify-content:flex-start;
    height:40px;
    width:50px;
    margin-left: 20px;
}
/*title*/
#title
{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    margin-left: 20px;
    line-height: 10px;
}


/*menu navigation*/
nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin-right: 80px;
    
}

nav li
{
    margin-right: 25px;
}
a
{
    text-decoration: none;
}
nav a
{
    
    
    color: black;
}
#bold
{
    font-weight: bolder;
    color: #0065FC;
}
nav a:hover
{
    color: #0065FC;
    text-decoration: overline;
    
}
nav a:visited
{
    color: grey;
}


 /*search field*/
 
 #search
 {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin-left: 20px;
     width: 500px;
     
 }
 #map
 {
    height: 35px;
     width: 35px;
     background-color: rgb(206, 203, 203);
     
     border-radius: 8px 0 0 8px;
     
     
 }
 #geo
 {
     height: 20px;
     width: 20px;
    margin-left: 8px;
    margin-top: 6px;
    opacity: 0.4;

 }
#search_field
{
    height: 31px;
    width: 300px;
    font-size: 1em;
    border-right: none;
    border-top: 1px solid rgb(199, 195, 195);
    border-bottom: 1px solid rgb(199, 195, 195);
    font-weight: bolder;

}
#button
{
    height: 37px;  
    position: absolute;  
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 1em;
    border-radius: 0 8px 8px 0;
    margin: -1px;
    
}
 .image1
 {
     height: 50px;
     width: 40px;
 }
    
   
 /*Filtre*/
 #filtre
 {
    margin-top: 50px;
    margin-left: 20px;
 }
#filtre ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    list-style-type: none;
    padding: 0;

}
#filtre a
{
    display: block;
    padding: 10px;
    position:relative;
    color: black;
    padding-left: 60px;
    border: 1px solid rgb(199, 195, 195);
    border-radius: 40px;
    z-index: 1;
    
}
#filtre a:hover
{
    background-color: #0065FC ;
    color: white;
}
#filtre li
{
    font-weight: bolder;
    font-size: 1em;
}
#filtre img
{
    position: absolute;
    display: inline;
    
    border-radius: 50px;
    background-color: #DEEBFF;
    height: 15px;
    width: 15px;
    padding: 13px;
    z-index: 2;
}

#info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    margin-left: 20px;
    
}
#info img
{
    height: 15px;
    width: 8px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 15px;

}

#main_part
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 95%;
   
}
/*Hebergements*/
#sec1
{
    width: 1200px;
    
    background-color: #F2F2F2;
    margin-left: 20px;
    border-radius: 20px;
    z-index: 1;
    flex-wrap: wrap;
    
}
section h1
{
    padding-top: 20px;
    padding-left:15px;
    font-size: 1.5em;
}
#hebflex
{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;
    
    
}


#hebflex2
{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;
    position: relative;

    
}

#heb1
{
    
    background-color: white;
    margin-left: 30px;
    margin-top: 10px;
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.bold
{
    font-weight: bolder;
}
.imheb
{
    height: 170px;
    width: 320px;
    
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}
.aheb
{
    height: 70px;
    width: 220px;
    position: absolute;
    color: black;
    left: 25px;
    bottom: 0px;
    z-index: 3;
    

}
#heb1 a:hover
{
color: #0065FC;
}
.sheb 
{
    
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    height: 15px;
    width:50px;
    position: absolute;
    z-index: 3;
    left: 25px;
    bottom: 10px;
}

.hebimgsize
{
    height: 15px;
    width: 15px;
}
#heb2
{
    display: flex;
    background-color: white;
    
    top: 10px;
   
    
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    
}
.imheb2
{
    height: 170px;
    width: 320px;
    
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}
#heb2 a:hover
{
color: #0065FC;
}
#heb3
{
    display: flex;
    background-color: white;
    
    top: 10px;
    
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    
}
.imheb3
{
    height: 170px;
    width: 320px;
    
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}

#heb3 a:hover
{
color: #0065FC;
}
#heb4
{
    display: flex;
    background-color: white;
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-left: 30px;
   
   
    
}
.imheb4
{
    height: 170px;
    width: 320px;
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}
#heb4 a:hover
{
color: #0065FC;
}
#heb5
{
    display: flex;
    background-color: white;
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    margin-right: 395px;
   
    
}
.imheb5
{
    height: 170px;
    width: 320px;
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}
#heb5 a:hover
{
color: #0065FC;
}
#heb6
{
    display: flex;
    background-color: white;
    width: 350px;
    height: 270px;
    border-radius: 15px;
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 820px;
    
}
.imheb6
{
    height: 170px;
    width: 320px;
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;
}
#heb6 a:hover
{
color: #0065FC;
}
.bold2
{
    font-weight: bolder;
    top: 30px;
    color: black;
    display: block;
    margin: 40px;
}
#sec2
{   display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 420px;
    height: auto;
    background-color: #F2F2F2;
    margin-right: 80px;
    border-radius: 15px;
    
    
}
#logo_sec2
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    
}

#logo_sec2 img
{
    height: 40px;
    width: 40px;
}
#pop1
{   position:relative;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    width: 370px;
    height: 200px;
    margin-left: 20px;
    position: relative;
}
#impop1
{
    height: 180px;
    width: 180px;
    border-radius: 20px 0 0 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    
}
.apop
{
    position: absolute;
    margin-left: 5px;
    margin-top: 20px;
    color: black;
    

}
#pop1 a:hover
{
    color: #0065FC;
}
.spop
{
   position: absolute;
   margin-left:200px;
   top: 160px;

}
#spop1
{   display: flex;
    flex-direction: row;
   position: absolute;
   margin-left:200px;
   top: 640px;
   right: 310px;
   z-index: 2;

}
#spop2
{  display: flex;
    flex-direction: row;
   position: absolute;
   margin-left:200px;
   top: 165px;
   right: 100px;
   z-index: 2;

}
#spop3
{  display: flex;
    flex-direction: row;
   position: absolute;
   margin-left:200px;
   top: 165px;
   right: 100px;
   z-index: 2;

}
#pop2
{   position:relative;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    width: 370px;
    height: 200px;
    margin-left: 20px;
    margin-top: 35px;

   
}
#impop2
{
    height: 180px;
    width: 180px;
    border-radius: 20px 0 0 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
   
    
}
#pop2 a:hover
{
    color: #0065FC;
}
#pop3
{   position:relative;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    width: 370px;
    height: 200px;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
}
#impop3
{
    height: 180px;
    width: 180px;
    border-radius: 20px 0 0 20px;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 2;
    
}
#pop3 a:hover
{
    color: #0065FC;
}
#activ
{
    
    width: 90%;
    height: 600px;
    margin-left: 20px;
    margin-top: 50px;
   
    
    
}
#actmain
{
    
    width: 100%;
    height: 460px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    


}
#act1
{

width:400px;
height: 590px;
display: flex;
flex-direction: column;
box-shadow: 5px 5px 10px #F2F2F2; 
border-radius: 20px;
position: relative;

}
.im_g_act
{
width: 400px;
height: 550px;
border-radius: 20px;
z-index: 1;


}

.im_p_act
{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    z-index: 1; 
}
.a_g_act
{
    color: black;
    background-color: white;
    display: block;
    width: 360px;
    height: 80px;
    z-index: 2;
    position: absolute;
    margin-top: 510px;
    border-radius: 0 0 20px 20px;
    padding-left: 40px;
}
.a_g_act:hover{
    color: #0065FC;
    background-color: #DEEBFF;
   
    
}
#act2
{

    width:400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

     
    border-radius: 20px;
    position: relative;
    
}
#act2_1
{   width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 10px #F2F2F2;
    border-radius: 20px;
    
    
    
    
}
#act2_2
{   width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #F2F2F2;
    border-radius: 20px;
    
    
    
}
#im_m_act1
{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    z-index: 1; 
    position: absolute;
    
}
#a_m_act1
{
    display: block;
    background-color: white;
    color: black;
    width: 360px;
    height: 80px;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    position: absolute;
    top: 220px;
    padding-left: 40px;
   
   
}
#a_m_act1:hover
{
    color:#0065FC;
    background-color: #DEEBFF;
}
#im_p_act1
{
    width: 400px;
    height: 200px;
    margin-top: 80px;
    border-radius: 20px;
    position: absolute;
    margin-top: 0px;
   
    z-index: 1;
}
#a_p_act1
{
    display: block;
    background-color: white;
    color: black;
    width: 360px;
    height: 80px;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    z-index: 2;
    top: 170px;
    padding-left: 40px;
  
   
}
#a_p_act1:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
#act3
{

    width:400px;
    height: 590px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px #F2F2F2; 
    border-radius: 20px;
    position: relative;
    

}
#act4
{

    width:400px;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
     
    border-radius: 20px;
    position: relative;
    
  
    

}

#act4_1
{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    z-index: 1;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #F2F2F2;
    border-radius: 20px;
    
    
}
#im_p_act2
{
    width: 400px;
    height: 200px;
    
    border-radius: 20px;
    position: absolute;
    margin-top: 0px;
   
    z-index: 1;
}
#a_p_act2
{
    display: block;
    background-color: white;
    color: black;
    width: 360px;
    height: 80px;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    z-index: 2;
    top: 170px;
    padding-left: 40px;
}
#a_p_act2:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
#act4_2
{
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
    z-index: 3;
    margin-top: 40px;
    position:relative;
    box-shadow: 5px 5px 10px #F2F2F2;
    border-radius: 20px;
   
}
#im_m_act2
{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    z-index: 1; 
    position: absolute;
    bottom: 0px;
}
#a_m_act2
{
    display: block;
    background-color: white;
    color: black;
    width: 360px;
    height: 80px;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    position: absolute;
    top: 220px;
    padding-left: 40px;
  
}
#a_m_act2:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
