/*font*/
body
{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    
}
h1
{
    font-weight: bolder;
    font-size: 2rem;
   
}
section h2
{
    padding-top: 20px;
    padding-left:15px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: black
}
/*flex-box partie Logo+Menu navigation*/
#head1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 97%;
   
    
}
/*logo*/
#logo
{
    display:flex;
    justify-content:flex-start;
    height:40px;
    width:50px;
    margin-left: 20px;
}
/*title*/
#title
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1em;
    margin-left: 20px;
    line-height: 30px;
}


/*menu navigation*/
nav ul
{
    display: flex;
    list-style-type: none;
    justify-content: end;    
}

nav li
{
    margin-right: 10%;
}
a
{
    text-decoration: none;
}
nav a
{
      
    color: black;
}
#bold_blue
{
    font-weight: bolder;
    color: #0065FC;
}
nav a:hover
{
    color: #0065FC;
    font-weight: bolder;
    border-top: 1px solid #0065FC;
    padding: 20px;
}

 /*search field*/
 
 #search
 {
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     margin-left: 20px;
     width: 50%;
   
     
 }
 #map
 {
    height: 35px;
     width: 35px;
     background-color: rgb(206, 203, 203);
     
     border-radius: 8px 0 0 8px;
     
     
 }
 #geo
 {
     height: 20px;
     width: 20px;
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
    opacity: 0.7;

 }
#search_field
{
    height: 31px;
    width: 300px;
    font-size: 1em;
    border-right: none;
    border-top: 1px solid rgb(199, 195, 195);
    border-bottom: 1px solid rgb(199, 195, 195);
    font-weight: bolder;

}
#button
{
    height: 37px;  
    position: absolute;  
    background-color: #0065FC;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: white;
    font-size: 1em;
    border-radius: 0 8px 8px 0;
    margin: -1px;
    
}

 .image1
 {
     height: 50px;
     width: 40px;
 }
    
   
 /*Filtre*/
 #filtre
 {
    margin-top: 50px;
    margin-left: 20px;
 }
#filtre ul
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    list-style-type: none;
    padding: 0;

}
#filtre a
{
    display: block;
    padding: 10px;
    position:relative;
    color: black;
    padding-left: 60px;
    border: 1px solid rgb(199, 195, 195);
    border-radius: 40px;
    z-index: 1;
    
}
#filtre a:hover
{
    background-color: #0065FC ;
    color: white;
}
#filtre li
{
    font-weight: bolder;
    font-size: 1em;
    margin-right: 30px;
}
#filtre img
{
    position: absolute;
    display: inline;
    
    border-radius: 50px;
    background-color: #DEEBFF;
    height: 15px;
    width: 15px;
    padding: 13px;
    z-index: 2;
}

#info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    margin-left: 20px;
    
}
#info img
{
    height: 15px;
    width: 8px;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 15px;

}

/*Hebergements*/

#sec_heb_pop
{
   
    width: 97%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
#sec_heb
{
    width: 65%;
    height: 100%;
    background-color: #F2F2F2;
    margin-left: 20px;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}



#hebflex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 40%;    
    width: 100%;
    margin-bottom: 20px;
   
 }
#hebflex2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 40%;
    width: 100%;
    margin-bottom: 20px;
   
   
}

.heb
{
    background-color: white;
    width: 30%;
    border-radius: 15px;
    position: relative;
    z-index: 2;
    
}

.bold
{
    font-weight: bolder;
}
.imheb
{
    height: 60%;
    width: 92%;
    z-index: 2;
    top:10px;
    left: 15px;
    position: absolute;
    z-index: 3;
    border-radius: 15px 15px 0px 0px;

}

.aheb
{
    height: 25%;
    width: 90%;
    position: absolute;
    color: black;
    left: 25px;
    bottom: 25px;
    z-index: 3;
    line-height: 23px;
    
}
.aheb:hover
{
    color: #0065FC;
}

.sheb 
{
    
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    height: 10%;
    width: 90%;
    position: absolute;
    z-index: 3;
    left:7%;
    bottom: 15px;
    
}


.hebimgsize
{
    height: 50%;
    width: 15px;
}


#bold2_heb 
{   height: 7%;
    margin-left: 20px;
}

#bold2_heb a
{
    font-weight: bolder;
    color: black;
}

#bold2_heb a:hover
{
    color: #0065FC;
}

/*Les plus populaires*/
#sec_pop
{   display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27%;
    height: 300px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    
}

#logo_sec2
{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-left: 2%;
}

#logo_sec2 img
{
    height: 40%;
    width: 10%;
}

#popflex
{
    width: 86%;
    height: 90%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.pop
{   
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    width: 100%;
    height: 90%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.imgpop
{   
    height: 95%;
    width: 40%;
    border-radius: 20px 0 0 20px;
    z-index: 2; 
    position: relative;
    
}
.photo_pop
{
    height: 97%;
    width: 97%;
    border-radius: 20px 0 0 20px;
    padding: 6px;
    position: absolute;
}
.descr_pop
{
    height: 95%;
    width: 60%;
    border-radius: 20px 0 0 20px;
    z-index: 2; 
    position: relative;

}


.apop
{
    position: absolute;
    margin-left: 15px;
    margin-top: 20px;
    color: black;
    

}
.apop:hover
{
    color: #0065FC;
}

.spop
{
    display: flex;
    flex-direction: row;
    justify-content: last baseline;
    align-items: center;
    height: 16%;
    width: 90%;
    position: absolute;
    z-index: 3;
    left:7%;
    bottom: 15px;
}

/*Activites à Marseille*/

#activ
{
    
    width: 96%;
    margin-top: 2%;
    margin-left: 20px;
    
}


#actmain
{
    
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}
.act1
{
    width: 24%;
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    position: relative;
    

}
.act2
{
    width: 24%;
    display: flex;
    flex-direction: column;
    
    border-radius: 20px;
    position: relative;
    

}
.im_g_act
{

    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 5px 5px 3px #f2f2f2;
}

.a_g_act
{   background-color: white;
    width: 100%;
    height: 10%;
    z-index: 2;
    position: absolute;
    bottom: 0%;
    border-radius: 0 0 20px 20px;
    color:black;
    
    
}

.a_g_act p
{
    margin-left: 20px;
    margin-top: 5%;
}

.a_g_act:hover
{
    color: #0065FC;
    background-color: #DEEBFF; 
}

#im_m_act1
{
    width: 100%;
    height: 55%;
    border-radius: 20px;
    z-index: 1; 
    position: absolute;
    box-shadow: 5px 5px 3px #f2f2f2;
    
}
#im_m_act2
{
    width: 100%;
    height: 55%;
    border-radius: 20px;
    z-index: 1; 
    position: absolute;
    bottom: 0px;
    box-shadow: 5px 5px 3px #f2f2f2;
}
#a_m_act1
{
    display: block;
    background-color: white;
    color:black;
    width: 100%;
    height: 10%;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    position: absolute;
    top: 45%;
    
    
}

#a_m_act1 p
{
    margin-left: 20px;
    margin-top: 5%;
}

#a_m_act1:hover
{
    color:#0065FC;
    background-color: #DEEBFF;
}

#im_p_act1
{
    width: 100%;
    height: 39%;
    bottom: 0%;
    border-radius: 20px;
    position: absolute;
    margin-top: 0px;
    z-index: 1;
    box-shadow: 5px 5px 3px #f2f2f2;
}

#im_p_act2
{
    width: 100%;
    height: 39%;
    top: 0%;
    border-radius: 20px;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 3px #f2f2f2;
    
}

#a_p_act1
{
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    height: 10%;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    z-index: 2;
    bottom: 0%;
}
#a_p_act1 p
{
    margin-left: 20px;
    margin-top: 5%;
}

#a_p_act1:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
#a_p_act2
{
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    height: 10%;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    z-index: 2;
    top: 29%;
    
}
#a_p_act2 p
{
    margin-left: 20px;
    margin-top: 5%;
}

#a_p_act2:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}
#a_m_act2
{
    display: block;
    background-color: white;
    color: black;
    width: 100%;
    height: 10%;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    position: absolute;
    bottom: 0%;
}
#a_m_act2 p
{
    margin-left: 20px;
    margin-top: 5%;
}

#a_m_act2:hover
{
    color: #0065FC;
    background-color: #DEEBFF;
}

 /*Footer*/

footer
{
    background-color: #F2F2F2;
    position: relative;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
    padding: 2%;
    flex-wrap: wrap;


}
#footer1
{
    margin-right: 10%;
    
    
}
#footer2
{
    margin-right: 10%;
}
footer ul
{
    list-style-type: none;
    line-height: 30px;
}
footer a
{
    color: black;
}
footer a:hover{
color:#0065FC
}








@media screen and (max-width:480px)
{   
  #head1
  {
     
      width: 100%;
      height: 50px;
     position: relative;
      

  }
  #logo
  {
      
      width: 60%;
      top: 0%;
      left: 0%;
      height: 80%;
      position: absolute;
      z-index: 1;
  

  }
  #head1 nav
  {
      
     top: 0%;
      right: 0%;
      position: absolute;
  }
  #head1 ul
  {
  
    flex-wrap: wrap-reverse;
    align-content: stretch;
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 2;
    

  }
  #head1 li
  {
     
      margin-left: 80px;
      margin-top: 0%;
      
     
  }
  #head1 li:nth-child(1)
  {
     
      margin-right: 95%;
  }
  
  nav a
  {
    font-size: 1.5rem;
    padding: 0%;
  
  }
  nav a:hover
{
    
    border-bottom: 1px solid #0065FC;
    border-top: 0px;
    padding: 2px;
}
/*Title*/
#title
{
    margin-top: 10%;
}
   /*Filtre*/
   #filtre
   {  
     
       width: 90%;
       height: auto;
      
       
   }
   #filtre ul
   {    
       justify-content: space-between;
       align-items: flex-start;
       width: 75%;
       margin-top: 0px;
       
   }
   #filtre li:nth-child(1)
   { 
      
       margin-right: 35%;
       margin-bottom: 3%;
   }
   #filtre li
   {
    width: auto;
    font-size: 1rem;
    margin-bottom: 5px;
   }
   #filtre a
   {
    padding-left: 40px;
    padding-right: 5px;
    font-size: 0.9rem;
   }

    /*search field*/
    #button
    {
        width: 10%;
        color: transparent;
        background-image: url('images/logo/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        border-radius:0 15px 15px 0;
    }

    /*Info*/
    
    #info
    {   flex-direction: row;
        justify-content: left;
        align-items:stretch;
        width: 85%;
        height: 50px;
        margin-left: 5px;
        margin-bottom: 2% ;
      
       
    }
    #info img
    {
    height: 13px;
    width: 8px;
    padding: 10.5px;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    margin-left: 0px;
    

}   
    #info_flex 
    {  
        
        width: 82%;
 
    }
    #info_flex p
    {
       margin-top: 0px;
       margin-left: 0px;
       text-align: justify;
    }
    /*Les plus populaires*/
    #sec_heb_pop

    {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 95%;
        height: auto;
        margin-bottom: 0px;
       
    
    }
    #sec_pop
    {
        width: 100%;
        height: 600px;
        margin-left: 0px;
        order: 1;
    }
    .pop
    {
        
        height: 30%;
    }
    #sec_heb
    {
        width: 100%;
        height: 1900px;
        margin-left: 0px;
        order: 2;
        background-color: white;
    }
   
    /*Hebergements à Marseille*/
    #hebflex
    {
        flex-direction: column;
        margin-bottom: 0%;
        margin-left: 0%;
        height: 50%;
        background-color: white;
        
    }
    #hebflex2
    {
        flex-direction: column;
        height: 50%;
        background-color: white;
        margin-left: 0%;
    }
    .heb
    {
        width: 100%;
        height: 30%;
        box-shadow: 5px 5px 3px #f2f2f2;
        
    }
    #bold2_heb
    {
        height: 2%;
        
    }

    /*Activités à Marseille*/
    
    #actmain
    {
        flex-direction: column;
        height: auto;
          
    }

    .act1
    {
        height: 250px;
        width: 95%;
        margin-bottom: 20px;
    }    

    .act2
    {
        height: 540px;
        width: 95%;
        margin-bottom: 20px;
    }
    .meta_act2
    {   display: flex;
        flex-direction: column;
        height: 250px;
        margin-bottom: 20px;
        position: relative;
    }
    .im_g_act
    {
        height: 100%;
        width: 100%;
    }
    #im_m_act1
    {
        height: 250px;
        width: 100%;
        position: absolute;
        top: 0px;
    }
    #im_m_act2
    {
        height: 250px;
        width: 100%;
        position: absolute;
        top: 0px;
    }
    #im_p_act1
    {
        height: 250px;
        width: 100%;
        position: absolute;
        top: 0px;
    }
    #im_p_act2
    {
        height: 250px;
        width: 100%;
        position: absolute;
        top: 0px;
    }
    .a_g_act
    {
        width: 100%;
        height: 50px;
        bottom: 0;
    }
    .a_g_act p
    {
        margin:16px
    }
    #a_m_act1
    {
        width: 100%;
        height: 50px;
        top: 80%;
        position: absolute;
       
    }
    #a_m_act1 p
    {
        margin:16px
    }
    #a_m_act2
    {
        width: 100%;
        height: 50px;
        top: 80%;
        position: absolute;
    }
    #a_m_act2 p
    {
        margin:16px;

    }
    #a_p_act1
    {
        width: 100%;
        height: 50px;
        bottom: 0;
        position: absolute;
    }
    #a_p_act1 p
    {
        margin:16px;
    }
    #a_p_act2
    {
        width: 100%;
        height: 50px;
        top: 80%;
        position: absolute;
    }
    #a_p_act2 p
    {
        margin:16px;
    }
/*Footer*/
   footer
   {
       flex-direction: column;
       width: 99%;
       margin-left: 0%;
       padding: 1%;
   }
}